﻿extends ../layout

block content
	if groups.length == 0 && finals.length == 0
		p Es gibt noch keine beendeten Spiele
	else
		each group in groups
			button.w3-button.w3-block.w3-left-align.w3-margin-bottom.w3-theme-l4(onclick=`openAccordion('group-${group.letter}')`)
				span.w3-margin-right.fa.fa-caret-down
				= 'Gruppe ' + group.letter
			.w3-container.w3-hide(id=`group-${group.letter}`)
				each gameday in group.Gamedays
					button.w3-button.w3-block.w3-left-align.w3-margin-bottom.w3-theme-l4(onclick=`openAccordion('${group.letter + '-' +gameday.name}')`)
						span.w3-margin-right.fa.fa-caret-down
						= 'Spieltag ' + gameday.name
					.w3-container.w3-hide(id=`${group.letter + '-' + gameday.name}`)
						table.w3-table.w3-bordered
							thead.w3-theme-d1
								tr
									th(style='width: 50%') Spiel
									th Ergebnis
							tbody
								each match in gameday.Matches
									tr.w3-large
										td
											span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamA.code}`)
											= match.TeamA.name + ' : '
											span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamB.code}`)
											=match.TeamB.name
										td.w3-row-padding(id=`match-${match.id}` oninput=`enterResult(event, ${match.id})`)
											input.w3-half.TeamA(type='number' placeholder='-' value=match.teamAGoals min='0' max='15' required style='width:3em')
											span.w3-col(style='width: 1em') :
											input.w3-half.TeamB(type='number' placeholder='-' value=match.teamBGoals min='0' max='15' required style='width:3em')
		each final in finals
			button.w3-button.w3-block.w3-left-align.w3-margin-bottom.w3-theme-l4(onclick=`openAccordion('${final.name.split(' ').join('_')}')`)
				span.w3-margin-right.fa.fa-caret-down
				= final.name
			.w3-container.w3-hide(id=`${final.name.split(' ').join('_')}`)
				table.w3-table.w3-bordered
					thead.w3-theme-d1
						tr
							th(style='width: 50%') Spiel
							th Ergebnis
					tbody
						each match in final.Matches
							tr.w3-large
								td
									span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamA.code}`)
									= match.TeamA.name + ' : '
									span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamB.code}`)
									=match.TeamB.name
								td.w3-row-padding(id=`match-${match.id}` oninput=`enterResult(event, ${match.id})`)
									input.w3-half.TeamA(type='number' placeholder='-' value=match.teamAGoals min='0' max='15' required style='width:3em')
									span.w3-col(style='width: 1em') :
									input.w3-half.TeamB(type='number' placeholder='-' value=match.teamBGoals  min='0' max='15' required style='width:3em')

	script.
		function enterResult(event, matchID) {
			const TeamA = $(`#match-${matchID} .TeamA`);
			const TeamB = $(`#match-${matchID} .TeamB`);

			if (TeamA.get(0).validity.valid && TeamB.get(0).validity.valid)
				$.post('/ergebnisse_eintragen', { 
					matchID,
					teamAGoals: TeamA.val(),
					teamBGoals: TeamB.val()
				}).done(() => {
					$(`#match-${matchID}`).parent().css('background-color', 'green');
					setTimeout(() => {$(`#match-${matchID}`).parent().removeAttr('style')}, 2000);
				}).fail(() => {
					$(`#match-${matchID}`).parent().css('background-color', 'grey');
					setTimeout(() => {$(`#match-${matchID}`).parent().removeAttr('style')}, 2000);
				});
			else {
				$(`#match-${matchID}`).parent().css('background-color', 'red');
					setTimeout(() => {$(`#match-${matchID}`).parent().removeAttr('style')}, 2000);
			}
		}