extend ../layout

block content
    each gameday in gamedays
        h3= gameday.name
        table.w3-table.w3-bordered
            thead.w3-theme-d1
                tr
                    th Nummer
                    th Team A
                    th Team B
                    th Startzeit
            tbody
                each match, index in gameday.Matches
                    tr(id=`match-${match.id}` oninput=`updateMatch(event, ${match.id})`)
                        td= index + 1
                        td
                            select.TeamA.w3-select
                                if !match.TeamA
                                    option(disabled selected) -
                                each team in teams
                                    option(value=team.id selected=(match.TeamA && match.TeamA.id == team.id))= team.name
                        td
                            select.TeamB.w3-select
                                if !match.TeamB
                                    option(disabled selected) -
                                each team in teams
                                    option(value=team.id selected=(match.TeamB && match.TeamB.id == team.id))= team.name
                        td= (new Date(match.start_time)).toLocaleString()
    script.
        function updateMatch(event, matchID) {
            console.log($(`#match-${matchID} .TeamA option:selected`).text());
            console.log($(`#match-${matchID} .TeamB option:selected`).text());
            if ($(`#match-${matchID} .TeamA option:selected`).text() != '-' && 
                $(`#match-${matchID} .TeamB option:selected`).text() != '-') {
                $.post('/ko_auswahl', {
                    matchID,
                    teamAID: $(`#match-${matchID} .TeamA option:selected`).val(),
                    teamBID: $(`#match-${matchID} .TeamB option:selected`).val()
                }).done(() => {}).fail(() => {});
            }
        }