extend ../layout

block content
	#create_modal.w3-modal
			.w3-modal-content.w3-card-4.w3-animate-zoom(style='max-width:600px')
				.w3-center
					br
					span.w3-button.w3-theme-light.w3-hover-red.w3-display-topright(onclick="$('#create_modal').hide()") &times;
				form.w3-container(method='post' action='/tippgruppen/erstellen')
					.w3-section
					label
						b Tippgruppen Name
					input.w3-input.w3-border.w3-margin-bottom(type='text' placeholder='Name' name='name' required)
					input.w3-button.w3-block.w3-theme-action.w3-section.w3-padding(type='submit' value='Erstellen')
				.w3-container.w3-border-top.w3-padding-16.w3-light-grey
					button.w3-button.w3-theme-light(onclick="$('#create_modal').hide()" type='button') Abbrechen
	#players_modal.w3-modal
			.w3-modal-content.w3-card-4.w3-animate-zoom(style='max-width:600px')
				.w3-center
					br
					span.w3-button.w3-theme-light.w3-hover-red.w3-display-topright(onclick="$('#players_modal').hide()") &times;
				form.w3-container(method='post' action='/tippgruppen/spieler/aendern')
					input#tipgroup_id(type='hidden' name='tipgroup_id' value='fehler')
					.w3-responsive
						h3 Tippgruppen Spieler
						ul#player_container.w3-ul.w3-card-4
					
					input.w3-button.w3-block.w3-theme-action.w3-section.w3-padding(type='submit' value='Übernehmen')
				.w3-container.w3-border-top.w3-padding-16.w3-light-grey
					button.w3-button.w3-theme-light(onclick="$('#players_modal').hide()") Abbrechen

	ul.w3-ul.w3-card-4.w3-hoverable(style='width:75%')
		each tipgroup in tipgroups
			li.w3-bar(onclick=`show_player(${tipgroup.id})`)
				span.w3-button.w3-bar-item.w3-right.fa.fa-trash(onclick=`deleteTipgroup(event,${tipgroup.id})`)
				span.w3-bar-item= tipgroup.name
	button.w3-button.w3-theme-action.w3-margin-top(onclick="$('#create_modal').show()") Neue Gruppe erstellen
	
	script.
		function deleteTipgroup(event, tipgroupID) {
			$(event.currentTarget).parent().remove();
			$.post('/tippgruppen/entfernen', {tipgroupID});
		}

		function show_player(tipgroup_id) {
			$('#tipgroup_id').val(tipgroup_id);
			 $.post('/tippgruppen/spieler', {tipgroup_id}).done(players => {
				 $('#player_container').empty();
				 for (const player of players)
				 	$('#player_container').append("<li class='w3-bar'>"+ player.login + ': '
						+ player.prename + ' ' + player.lastname + "<input type='checkbox' name='"
						+ player.id + "' " + (player.Usertipgroups.length ? "checked" : "") +" class='w3-check w3-right'></li>");
			 	$('#players_modal').show();
			 });
		}