extend ../layout

block content
	#add_modal.w3-modal
		.w3-modal-content.w3-card-4.w3-animate-zoom(style='max-width:600px')
			.w3-center
				br
				span.w3-button.w3-theme-light.w3-hover-red.w3-display-topright(onclick="$('#add_modal').hide()") &times;
			form.w3-container(method='POST' action='/benutzer/erstellen')
				p
					input.w3-input(type='text' name='prename' placeholder='Vorname...')
					label Vorname
				p
					input.w3-input(type='text' name='lastname' placeholder='Nachname...')
					label Nachname
				p
					input.w3-input(type='text' name='login' placeholder='Login...')
					label Login
				p
					input.w3-input(type='password' name='password' placeholder='Initial Passwort...')
					label Initial Passwort
				p
					input.w3-btn.w3-theme-action(type='submit' value='Spieler Anlegen')
			.w3-container.w3-border-top.w3-padding-16.w3-light-grey
				button.w3-button.w3-theme-light(onclick="$('#add_modal').hide()" type='button') Abbrechen
	ul.w3-ul.w3-card-4.w3-hoverable(style='width:75%')
		each user in users
			li.w3-bar
				span.w3-button.w3-bar-item.w3-right.fa.fa-trash(onclick=`deleteUser(event,${user.id})`)
				span.w3-bar-item= user.prename + ' ' + user.lastname
	button.w3-button.w3-theme-action.w3-margin-top(onclick="$('#add_modal').show()") Neuen Benutzer erstellen

	script.
		function deleteUser(event, userID) {
			$(event.currentTarget).parent().remove();
			$.post('/benutzer/entfernen', {userID});
		}