extends layout

block content
	h2 Top 3 Ränge
	.w3-responsive
		table.w3-table.w3-bordered
			thead.w3-theme-d1
				tr
					th Rang
					th Spieler
					th Punkte
			tbody
				- let rank = 0;
				- let step = 1;
				each player, index in top3
					if index !== 0 && top3[index - 1].points === player.points
						- step++;
					else
						- rank += step;
						- step = 1;
					if rank < 4
						tr
							td
								= rank
							td
								if (player.prename + player.lastname).trim() != ''
									= player.prename + ' ' + player.lastname
								else
									= '404 - Name Not Found (Login "' + player.login + '")'
							td= player.points
	h2.w3-margin-top Spielvorschau
	.w3-responsive
		table.w3-table.w3-bordered
			thead.w3-theme-d1
				tr
					th Spiel
					th Startzeit
			tbody
				each match in upcoming_matches
					tr
						td
							span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamA.code}`)
							= match.TeamA.name + ' : '
							span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamB.code}`)
							=match.TeamB.name
						td= (new Date(match.start_time)).toLocaleString()

