﻿doctype html
html
    head
        title= title + ' - WM Tippspiel'
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet' href='/stylesheets/dhbw-theme.css')
        link(rel='stylesheet' href='/stylesheets/main.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/solid.css' integrity='sha384-Rw5qeepMFvJVEZdSo1nDQD5B6wX0m7c5Z/pLNvjkB14W6Yki1hKbSEQaX9ffUbWe' crossorigin='anonymous')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css' integrity='sha384-GVa9GOgVQgOk+TNYXu7S/InPTfSDTtBalSgkgqQ7sCik56N9ztlkoTr2f/T44oKV' crossorigin='anonymous')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous')

        style.
            body {font-family: "Roboto", sans-serif}
            .w3-bar-block.w3-bar-item{padding:16px;font-weight:bold}
    body
        nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-animate-left.w3-card(style='z-index:3;width:250px;')
            a.w3-bar-item.w3-button.w3-border-bottom.w3-large(href='/')
                img(src='/images/dhbw-mannheim.svg' style='width:80%;')
            a.w3-bar-item.w3-button.w3-hide-large.w3-large(href='javascript:void(0)' onclick='w3_close()')
                | Close 
                span.fa.fa-times
            .w3-theme-action(style='height: 40px')
            if user
                a.w3-bar-item.w3-button(href='/profile')
                    img.w3-left.w3-circle.w3-margin-right(src='/images/avatar.png' alt='Avatar' style='width: 2em')
                    = 'Hallo, ' + user.prename + ' ' + user.lastname
                a.w3-bar-item.w3-button(href='/') Homepage
                if !user.isAdministrator
                    a.w3-bar-item.w3-button(href='/wetten') Meine Tipps
                    a.w3-bar-item.w3-button(href='/spielplan') Spielplan
                    div
                        button.w3-bar-item.w3-button(onclick="openAccordion('rankingAccordion')")
                            | Ranking
                            span.w3-margin-left.fa.fa-caret-down
                        #rankingAccordion.w3-hide
                            a.w3-bar-item.w3-button(href='/rangfolge' style='padding-left: 2em') Tippgruppen
                            a.w3-bar-item.w3-button(href='/rangfolge/global' style='padding-left: 2em') Global
                            a.w3-bar-item.w3-button(href='/rangfolge/vergleich' style='padding-left: 2em') Vergleich
                else
                    a.w3-bar-item.w3-button(href='/ergebnisse_eintragen') Ergebnisse eintragen
                    a.w3-bar-item.w3-button(href='/tippgruppen') Tippgruppen
                    a.w3-bar-item.w3-button(href='/benutzer') Nutzer
                    a.w3-bar-item.w3-button(href='/ko_auswahl') KO Auswahl
            else
                a.w3-bar-item.w3-button(href='/') Login

        #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick='w3_close()' style='cursor:pointer')
        main.w3-main(style='margin-left:250px;')
            #myTop.w3-container.w3-top.w3-theme.w3-large
                p
                    span.fa.fa-bars.w3-button.w3--theme-l3.w3-hide-large.w3-xlarge(onclick='w3_open()')
                    span#myIntro.w3-hide= 'WM Tippspiel: ' + title
            header.w3-container.w3-theme(style='padding:55px 32px')
                h1.w3-left WM Tippspiel
                if user
                    a.w3-btn.w3-right.w3-theme-l4.w3-margin-top(href='/logout')
                        span.fa.fa-sign-out-alt
                        span.w3-hide-small Abmelden
            .w3-container.main-section(style='padding:32px')
                h2= title
                block content

        script.
            // Open and close the sidebar on medium and small screens
            function w3_open() {
                $('#mySidebar').show();
                $('#myOverlay').show();
            }
            function w3_close() {
                $('#mySidebar').hide();
                $('#myOverlay').hide();
            }
            // Change style of top container on scroll
            window.onscroll = function () {
                if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                    document.getElementById("myTop").classList.add("w3-card-4", "w3-animate-opacity");
                    document.getElementById("myIntro").classList.add("w3-show-inline-block");
                } else {
                    document.getElementById("myIntro").classList.remove("w3-show-inline-block");
                    document.getElementById("myTop").classList.remove("w3-card-4", "w3-animate-opacity");
                }
            }
            // Accordions
            function openAccordion(id) {
                const elem = document.getElementById(id);
                if (elem.className.indexOf("w3-show") == -1)
                    elem.className += " w3-show";
                else
                    elem.className = elem.className.replace(" w3-show", "");
            }