﻿extends layout

block content
	if flashMessage
		.w3-panel.w3-pale-red.w3-card
			strong= flashMessage.type
			= " " +  flashMessage.text
	form.w3-container.w3-card(method='post' action='/login' style='background-color: rgba(255, 255, 255, 0.6)')
		p
			input.w3-input(type='text' name='login' placeholder='Dein Login...' required)
			label Login
		p
			input.w3-input(type='password' name='password' placeholder='Dein Passwort...' required)
			label Passwort
		p
			input.w3-btn.w3-theme-action(type='submit' value='Anmelden')