extends layout

block content
	if flashMessage
		.w3-panel.w3-pale-red.w3-card
			strong= flashMessage.type
			= " " +  flashMessage.text
	#pw_modal.w3-modal
		.w3-modal-content.w3-card-4.w3-animate-zoom(style='max-width:600px')
			.w3-center
				br
				span.w3-button.w3-theme-light.w3-hover-red.w3-display-topright(onclick="$('#pw_modal').hide()") &times;
			form.w3-container(method='post' action='/passwort_aendern')
				.w3-section
				label
					b Altes Passwort
				input.w3-input.w3-border.w3-margin-bottom(type='password' placeholder='Dein altes Passwort...' name='old_password' required)
				label
					b Neues Passwort
				input.w3-input.w3-border.w3-margin-bottom(type='password' placeholder='Dein neues Passwort...' name='new_password' required)
				label
					b Neues Passwort bestätigen
				input.w3-input.w3-border(type='password' placeholder='Dein neues Passwort bestätigt...' name='new_password_confirmation' required)
				input.w3-button.w3-block.w3-theme-action.w3-section.w3-padding(type='submit' value='Änderung bestätigen')
			.w3-container.w3-border-top.w3-padding-16.w3-light-grey
				button.w3-button.w3-theme-light(onclick="$('#pw_modal').hide()" type='button') Abbrechen
	form.w3-container.w3-card(method='post' action='/profile' style='background-color: rgba(255, 255, 255, 0.6)')
		p
			input.w3-input(type='text' name='prename' placeholder='Dein Vorname...' value=`${user.prename}`)
			label Vorname
		p
			input.w3-input(type='text' name='lastname' placeholder='Dein Nachanme...' value=`${user.lastname}`)
			label Nachname
		p
			input.w3-input(type='text' name='login' placeholder='Dein Login...' value=`${user.login}`)
			label Login
		p
			input.w3-btn.w3-theme-action(type='submit' value='Übernehmen')
			btn.w3-btn.w3-theme-light.w3-margin-left(onclick="$('#pw_modal').show()")
				span.fa.fa-key.w3-margin-right
				| Passwort ändern