.w3-theme-l5 {color:#000 !important; background-color:#ffeff2 !important}
.w3-theme-l4 {color:#000 !important; background-color:#fec9d2 !important}
.w3-theme-l3 {color:#000 !important; background-color:#fc94a5 !important}
.w3-theme-l2 {color:#fff !important; background-color:#fb5e78 !important}
.w3-theme-l1 {color:#fff !important; background-color:#f9284b !important}
.w3-theme-d1 {color:#fff !important; background-color:#ce0527 !important}
.w3-theme-d2 {color:#fff !important; background-color:#b70522 !important}
.w3-theme-d3 {color:#fff !important; background-color:#a0041e !important}
.w3-theme-d4 {color:#fff !important; background-color:#89041a !important}
.w3-theme-d5 {color:#fff !important; background-color:#720316 !important}

.w3-theme-light {color:#000 !important; background-color:#ffeff2 !important}
.w3-theme-dark {color:#fff !important; background-color:#720316 !important}
.w3-theme-action {color:#fff !important; background-color:#720316 !important}

.w3-theme {color:#fff !important; background-color:#e5062b !important}
.w3-text-theme {color:#e5062b !important}
.w3-border-theme {border-color:#e5062b !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#e5062b !important}
.w3-hover-text-theme:hover {color:#e5062b !important}
.w3-hover-border-theme:hover {border-color:#e5062b !important}