﻿.main-section {
    background: url("/images/2018_FIFA_World_Cup.svg") no-repeat center fixed;
    background-size: 25%;
    min-height: calc(100vh - 184px);
}

tbody tr, tbody td {
    background-color: rgba(255, 255,255, 0.6)
}