extends ../../layout

block content
    .form-inline.w3-margin-bottom
        label.mr-2 Filter:
        input.form-control#filter(type='text' name='filter' title='Der Loginname wird durchsucht')
    .w3-responsive
        table.w3-table.w3-bordered
            thead.w3-theme-d1
                tr
                    th Rang
                    th Name
                    th Punkte
            tbody#target

    script.
        $(document).ready(function(){
            $('#filter').on('input', function() {
                $('#target').empty();
                const filter_string = $(this).val();
                if (filter_string.length >= 2)
                    $.get('/rangfolge/vergleich/' + filter_string).done(function(message, status){
                        let filterd = [];
                        filterd.push(message.user);
                        for(player of message.players)
                            filterd.push(player);
                        filterd.sort((a, b) => a.points < b.points);
                        filterd.forEach((p, index) => {
                            const row = $('<tr></tr>');
                            row.append(`<td>${index + 1}</td>`);
                            row.append(`<td>${p.login}</td>`);
                            row.append(`<td>${p.points}</td>`);
                            row.appendTo('#target');
                        });
                        console.log(filterd);
                    });
            });
        });