extends ../../layout

block content
	.w3-responsive
		table.w3-table.w3-bordered
			thead.w3-theme-d1
				tr
					th Rang
					th Name
					th Punkte
			tbody
				- let rank = 0;
				- let step = 1;
				each player, index in players
					if index !== 0 && players[index - 1].points === player.points
						- step++;
					else
						- rank += step;
						- step = 1;
					tr
						td
							= rank
						td
							if (player.prename + player.lastname).trim() != ''
								= player.prename + ' ' + player.lastname
							else
								= '404 - Name Not Found (Login "' + player.login + '")'
						td= player.points
