extends ../../layout

block content
	.w3-left(style='width:140px')
		each usertipgroup in usertipgroups
			button.w3-bar-item.w3-button.tablink.w3-round(onclick=`openSide(event, '${usertipgroup.Tipgroup.name.split(' ').join('_')}')`)
				= usertipgroup.Tipgroup.name

	div(style='margin-left: 142px')
		each usertipgroup in usertipgroups
			div.SidePanel.w3-animate-opacity.w3-hide(id=`${usertipgroup.Tipgroup.name.split(' ').join('_')}`)
				h3= usertipgroup.Tipgroup.name
				.w3-responsive
					table.w3-table.w3-bordered
						thead.w3-theme-d1
							tr
								th Platz
								th Name
								th Punkte
						tbody
							- let rank = 0;
							- let step = 1;
							each user, index in usertipgroup.Tipgroup.Users
								if index !== 0 && usertipgroup.Tipgroup.Users[index - 1].points === user.points
									- step++;
								else
									- rank += step;
									- step = 1;
								tr
									td
										= rank
									td
										if (user.prename + user.lastname).trim() != ''
											= user.prename + ' ' + user.lastname
										else
											= '404 - Name Not Found (Login "' + user.login + '")'
									td= user.points


	script.
		function openSide(evt, sideID) {
			for (g of $('.SidePanel'))
				$(g).addClass('w3-hide');
			$(`#${sideID}`).removeClass('w3-hide');

			for (t of $('.tablink'))
				$(t).removeClass('w3-theme-action');
			$(evt.currentTarget).addClass('w3-theme-action');
		}