﻿extends ../layout

block content
    .w3-left(style='width:140px')
        each group in groups
            button.w3-bar-item.w3-button.tablink.w3-round(onclick=`openSide(event, '${group.letter}')`)
                = 'Gruppe ' + group.letter
        each final in finals
            button.w3-bar-item.w3-button.tablink.w3-round(onclick=`openSide(event, '${final.name.split(' ').join('_')}')`)
                = final.name

    div(style='margin-left: 142px')
        each group in groups
            div.SidePanel.w3-animate-opacity.w3-hide(id=`${group.letter}`)
                h3= 'Gruppe ' + group.letter
                .w3-responsive
                    table.w3-table.w3-bordered
                        thead.w3-theme-d1
                            tr
                                th Platz
                                th Team
                                th Tore
                                th Differenz
                                th Punkte
                        tbody
                            each team, index in group.Teams
                                tr
                                    td= index + 1
                                    td
                                        span.flag-icon.w3-margin-right(class=`flag-icon-${team.code}`)
                                        = team.name
                                    td= team.goalsShot + ':' + team.goalsAgainst
                                    td= team.goalDiff
                                    td= team.preliminaryPoints
                h4.w3-margin-top Spiele
                .w3-responsive
                    table.w3-table.w3-bordered
                        thead.w3-theme-d1
                            tr
                                th Spiel
                                th Startzeit
                                th Ergebnis
                        tbody
                            each gameday in group.Gamedays
                                tr
                                    td=gameday.name
                                    td
                                    td
                                each match in gameday.Matches
                                    tr
                                        td(style='padding-left:2em')
                                            span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamA.code}`)
                                            =match.TeamA.name + ' : '
                                            span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamB.code}`)
                                            = match.TeamB.name
                                        td= (new Date(match.start_time)).toLocaleString()
                                        td= match.teamAGoals != null ? match.teamAGoals + ':' + match.teamBGoals: '-:-'

        each final in finals
            div.SidePanel.w3-animate-opacity.w3-hide(id=`${final.name.split(' ').join('_')}`)
                h3= final.name
                .w3-responsive
                    table.w3-table.w3-bordered
                        thead.w3-theme-d1
                            tr
                                th Team A
                                th Team B
                                th Start Zeit
                                th Ergebnis
                        tbody
                            each match in final.Matches
                                tr
                                    td
                                        span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamA.code}`)
                                        = match.TeamA.name
                                    td
                                        span.flag-icon.w3-margin-right(class=`flag-icon-${match.TeamB.code}`)
                                        = match.TeamB.name
                                    td= match.start_time.toLocaleString()
                                    if match.teamAGoals != null
                                        td= match.teamAGoals + ':' + match.teamBGoals
                                    else
                                        td -:-
    script.
        function openSide(evt, sideID) {
            for (g of $('.SidePanel'))
                $(g).addClass('w3-hide');
            $(`#${sideID}`).removeClass('w3-hide');

            for (t of $('.tablink'))
                $(t).removeClass('w3-theme-action');
            $(evt.currentTarget).addClass('w3-theme-action');
        }